<!DOCTYPE html>
<html lang="en" ng-app="mini-kosten">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>MINI - Kosten berekenen</title>

    <link rel="icon" type="image/png" href="img/favicon.png"/>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="MainController">

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="row text-center">
            <h1>Kosten berekenen</h1>
        </div>

        <div class="row text-center">

            <div class="col-xs-6 {{mini.slug}}" ng-repeat="mini in minis">
                <div class="well well-sm pointer {{selectedMini.slug}}" ng-click="setMini(mini.slug);calcBIV();">
                    <figure>
                        <figcaption>{{mini.name}}</figcaption>
                        <img ng-src="img/{{mini.slug}}.png" alt="MINI {{mini.name}}" width="100%"/>
                    </figure>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-6 {{gearbox.slug}}" ng-repeat="gearbox in gearboxes">
                <div class="well well-sm pointer {{selectedGearbox.slug}}"
                     ng-click="setGearbox(gearbox.slug);calcBIV();">
                    {{gearbox.name}}
                </div>
            </div>
        </div>

        <div class="row text-center" ng-show="selectedGearbox">
            <div class="col-xs-4 col-sm-2">
                <div class="well well-sm">
                    <i class="fa fa-line-chart"></i>
                    <p>{{selectedGearbox.pk}}</p>
                    <small>pk</small>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2">
                <div class="well well-sm">
                    <i class="fa fa-cloud"></i>
                    <p>{{selectedGearbox.co2}}</p>
                    <small>g/km</small>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2">
                <div class="well well-sm">
                    <i class="fa fa-tachometer"></i>
                    <p>{{selectedGearbox.verbruik}}</p>
                    <small>l/100km</small>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 hidden-xs">
                <div class="well well-sm">
                    <i class="fa fa-road"></i>
                    <p>{{selectedGearbox.autonomie}}</p>
                    <small>km/tank</small>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 hidden-xs">
                <div class="well well-sm">
                    <i class="fa fa-balance-scale"></i>
                    <p>{{selectedGearbox.weight | number}}</p>
                    <small>kg</small>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 hidden-xs">
                <div class="well well-sm">
                    <i class="fa fa-euro"></i>
                    <p>{{selectedGearbox.price | number}}</p>
                    <small>nieuwprijs</small>
                </div>
            </div>
        </div>

        <div class="row" ng-show="selectedGearbox">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="inschrijvingsdatum">Inschrijvingsdatum</label>
                    <input type="date" min="2014-01-01" max="2016-06-30" id="inschrijvingsdatum" class="form-control"
                           ng-model="inschrijvingsdatum" ng-change="calcBIV();"/>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="inverkeerstelling" data-toggle="tooltip" data-placement="top"
                           title="Enkel voor tweedehandswagens. Bij nieuwe wagens inschrijvingsdatum overnemen.">1<sup>ste</sup>
                        inschrijving</label>
                    <input type="date" min="2014-01-01" max="2016-06-30" id="inverkeerstelling" class="form-control"
                           ng-model="inverkeerstelling" ng-change="calcBIV();"/>
                </div>
            </div>
        </div>

        <hr ng-show="resultBIV"/>

        <div class="row text-center" ng-show="resultBIV">
            <div class="col-xs-6 col-sm-2 col-sm-offset-2">
                <h2>{{resultBIV | currency: '€' : 2}}</h2>
                <small data-toggle="tooltip" data-placement="bottom" title="Éénmalig">BIV</small>
            </div>
            <div class="col-sm-4 hidden-xs">
                <i class="fa fa-2x fa-plus-square-o pointer" ng-show="!compareAdded" ng-click="addCompare();"
                   data-toggle="tooltip" data-placement="top" title="Toevoegen aan vergelijking"></i>
            </div>
            <div class="col-xs-6 col-sm-2">
                <h2>{{selectedGearbox.tax | currency: '€' : 2}}</h2>
                <small data-toggle="tooltip" data-placement="bottom" title="Jaarlijks">Verkeersbelasting</small>
            </div>
        </div>


        <div class="row hidden-xs" ng-repeat="compare in comparison">
            <hr/>
            <div class="col-xs-6 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1">
                <figure>
                    <img ng-src="img/{{compare.slug}}.png" width="100%"/>
                </figure>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1">
                <h3>MINI {{compare.name}}
                    <small class="pull-right">{{compare.year}} <span class="border">{{compare.gearbox}}</span></small>
                </h3>
            </div>
            <div class="col-xs-3 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1">
                <h4>{{compare.biv | currency : '€': 2}}
                    <small>BIV</small> + {{compare.tax | currency : '€' : 2}} <small>verkeersbelasting</small>
                </h4>
            </div>
        </div>

        <hr/>

        <div class="row text-center">
            <img src="img/logo.png" alt="MINI logo" width="100"/>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="app/app.js"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip()
</script>
</body>
</html>