body {
    width: 100%;
    height: 100%;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    color: #fff;
    font-family: Satisfy, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 72px;
}

header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/header.jpeg) no-repeat fixed center;
    background-size: cover;
}

@media (max-device-width: 768px) {

    header {
        background-attachment: scroll;
    }
}

header .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .3;
    filter: alpha(opacity=30);
    z-index: 1
}

header .content-header {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    z-index: 2;
}

header .pulse-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: solid 2px #fff;
    border-radius: 20px;
    color: #fff;
    z-index: 2;
    animation: pulse-down-animation 1.5s infinite;
}

section {
    padding: 50px 0;
}

/* ANIMATION */

.pulse-down-animation {
    animation-name: slideFromTop;
    -webkit-animation-name: slideFromTop;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes pulse-down-animation {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes pulse-down-animation {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(10%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}