body, html {
    width: 100%;
    height: 100%;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin: 20px auto;
}

h2:before, h2:after {
    content: "";
    display:block;
    width: 100px;
    height: 5px;
    background: black;
    margin: 10px auto;
}

h3 {
    padding: 40px 0;
    text-transform: uppercase;
    text-align:center;
    font-size: 40px;
    font-weight: 400;
}

dl dt {
    font-weight: 700;
    text-transform: uppercase;
}

dl dd, p {
    font-weight: 300;
}

section, footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

#ktm125duke {
    background-color: white;
}

#specs {
    padding-top:50px;
    background: url(../img/bg-specs.jpg) no-repeat center;
    background-size: cover;
}

#fotos {
    background-color: #151515;
    color: #fafafa;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-custom {
    background-color: #151515;
    text-transform: uppercase;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.navbar-custom a {
    color: #818285;
    font-size: 16px;
    padding: 14px 20px 11px 20px;
}

.navbar-custom a:hover {
    color: white;
    background-color: #363636 !important;
}

.navbar-nav .title {
    color: #ff6600;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav li.active a {
    color: white;
}

.navbar-nav {
    position: relative;
}

.navbar-custom .logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 168px;
    height: 142px;
    background-color: #ff6600;
    transition: 1s;
}

.navbar-toggle {
    color: #fafafa;
    padding: 2px 6px 3px;
}

.nav-scrolled .logo {
    height: 61px;
    transition: 1s;
}


header {
    height: 50%;
    background: url(../img/gallery/IMG_0079.jpg);
    background-position:center;
    background-size: cover;
}

header .container {
    display:table;
    height: 100%;
}

h1 {
    display:table-cell;
    vertical-align: middle;
    color: #fafafa;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #000;
}

.price {
    font-size: 30px;
}

.extras {
    margin-top: 40px;
}

.extras h3 {
    font-size: 14px;
    padding: 5px;
}

.extras i {
    padding-top: 30px;
}

#timeline {
    background: #fafafa;
}

.black {
    background-color: #151515;
    color: #fafafa !important;
}

.black h2:before, .black h2:after {
    background-color: #fafafa;
}

.thumbnails {
    padding-top: 50px;
}

.thumbnails img {
    margin: 10px auto;
    width: 100%;
    border: 1px solid white;
}

footer {
    padding-bottom: 0;
}

footer a {
    color: #ff6600;
}

footer a:hover {
    color: #818285;
}

footer .signature {
    display:block;
    padding: 30px 0;
    color: #282828;
    font-family: Satisfy, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
}

footer .signature:hover {
    text-decoration: none;
    color: #424242;
}

@media (max-width: 767px) {
    body, html {
        font-size: 16px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 24px;
    }

    header {
        background-attachment: scroll;
    }

    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body, html {
        font-size: 16px;
    }

    h3 {
        font-size: 45px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body, html {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body, html {
        font-size: 18px;
    }
}