html, body {
    width: 100%;
    height: 100%;
    font-family: "Ek Mukta", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link {
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red !important;
}

nav.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(80, 80, 80, .3);
    text-transform: uppercase;
    background-color: #fff;
}

nav.navbar-custom .navbar-toggle {
    margin: 5px 15px 5px 0;
}

nav.navbar-custom .navbar-header {
    position: relative;
}

nav.navbar-custom .navbar-brand {
    font-weight: 700;
}

nav.navbar-custom .navbar-brand-tel {
    position: absolute;
    right: 40px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.15);
}

nav.navbar-custom .navbar-brand .light {
    font-weight: 400;
    color: rgb(185, 250, 50);
}

nav.navbar-custom .navbar-brand:focus {
    outline: 0;
}

nav.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

nav.navbar-custom .navbar-brand .navbar-toggle:focus,
nav.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

nav.navbar-custom a {
    color: #5f6367;
}

nav.navbar-custom.top-nav-collapse a {
    color: #5f6367;
    text-shadow: none;
}

nav.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

nav.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
}

nav.navbar-custom .nav li a:focus,
nav.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

nav.navbar-custom .nav li.active {
    outline: 0;
}

nav.navbar-custom .nav li.active a {
    color: red;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

nav.navbar-custom .nav li.active a:hover {
    color: #fff;
}

header {
    position: relative;
    height: 50%;
    background-image: url(../img/header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .header-content {
    position: relative;
    height: 100%;
    z-index: 2;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 84px;
    margin-left: -100px;
    margin-top: -42px;
}

section .section-header {
    position: relative;
}

section .section-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

section .section-header h2,
section .section-content h2 {
    margin: 20px auto 50px;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #242830;
}

section .section-header h2:after,
section .section-content h2:after {
    content: "";
    display: block;
    margin: 10px auto;
    width: 50px;
    border: 2px solid red;
}

section .section-header .overlay,
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    opacity: .3;
    z-index: 1;
}

section .section-header h2 {
    position: relative;
    margin: 100px auto;
    color: #fff;
    z-index: 2;
}

section .section-header h2:after {
    border: 2px solid #fff;
}

section .section-content p {
    margin: 20px auto;
    font-size: 16px;
    font-weight: 300;
    color: #5f6367;
}

section#dakwerken,
section#contact {
    background: #f3f5f8;
}

section#over,
section#zuurbouw {
    background: #fff;
}

section#dakwerken .section-header {
    background-image: url(../img/section-headers/dakwerken.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section#zuurbouw .section-header {
    background-image: url(../img/section-headers/zuurbouw.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section#contact .card {
    padding: 20px;
    margin: 10px auto;
    border-bottom: 2px solid red;
    background: #fff;
}

section#contact .card h3 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
}

section#contact .card h3:after {
    content: "";
    display: block;
    margin: 10px auto;
    width: 20px;
    border: 2px solid red;
}

section#contact .card a {
    display: block;
    margin-top: 20px;
    font-weight: 300;
    color: #5f6367;
}

footer {
    background: #fff;
}

footer .footer-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .leveranciers img {
    display: block;
    margin: 0px auto;
    max-width: 200px;
}

@media (min-width: 768px) {

    nav.navbar-custom a {
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    nav.navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    nav.navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(80, 80, 80, .3);
        background: #fff;
    }
}

@media (max-device-width: 768px) {

    header,
    section#dakwerken .section-header,
    section#zuurbouw .section-header {
        background-attachment: scroll;
    }

}