html,
body,
div,
h1,
p,
a,
video {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background:#000;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
}

.content {
    position: relative;
    top: 35%;
    z-index: 10;
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
}

.content h1 {
    margin-bottom: 24px;
    color: #d6d6d6;
    font-size: 44px;
}

.content p {
    margin-bottom: 24px;
    color: #d6d6d6;
    font-size: 22px;
}

.content a {
    display: inline-block;
    margin: 0;
    padding: 12px 20px;
    color: #545454;
    font-size: 22px;
    text-decoration: none;
}

.content a:hover {
    color: #d6d6d6;
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}