@font-face {
    font-family: "Volvo Broad";
    src: url(../fonts/VolvoBroad.ttf);
}
@font-face {
    font-family: "Volvo Sans Regular";
    src: url(../fonts/VolvoSans.ttf);
}
@font-face {
    font-family: "Volvo Sans Light";
    src: url(../fonts/VolvoSansLight.ttf);
}
@font-face {
    font-family: "Volvo Sans Medium";
    src: url(../fonts/VolvoSansMedium.otf);
}

body {
    width: 100%;
    height: 100%;
    font-family: "Volvo Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

h2 {
    font-family: "Volvo Sans Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
}

h3 {
    font-family: "Volvo Sans Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
}

p {
    margin: 0 0 50px;
    font-family: "Volvo Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url(../img/background.jpeg) no-repeat center;
}

header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

header h1 {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    font-family: "Volvo Broad", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80px;
    color: #fff;
}

header img {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    transition: .5s;
}

header img:hover {
    -webkit-transform: rotate(134deg);
    -moz-transform: rotate(134deg);
    -ms-transform: rotate(134deg);
    -o-transform: rotate(134deg);
    transform: rotate(134deg);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 42px;
    }
}

header .subheading {
    display: block;
    margin-top: 12px;
    font-family: "Volvo Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(0, 48, 87);
}

section#services {
    background-color: rgb(244, 244, 244);
}

section#contact a {
    font-size: 16px;
    font-family: "Volvo Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #003057;
    line-height: 22px;
    text-decoration: none;
    vertical-align: middle;
}

section#contact {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

section img {
    width: 100%;
}

section#contact img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

footer {
    padding: 35px 0;
    background-color: #003057;
}

@media (max-width: 1200px) {

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    div[class*="col-"].col-sm-no-padding {
        padding-right: 0;
        padding-left: 0;
    }

    div[class*="col-"].col-sm-no-padding h3 {
        padding: 0 15px;

    }

    div[class*="col-"].col-sm-no-padding p {
        padding: 0 15px 30px;
    }

    section#contact {
        text-align: left !important;
    }

    section#contact div[class*="col-sm"] {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}