/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

h2 {
    margin: 0 auto 50px;
    text-align: center;
}

p {
    margin: 25px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: #fff;
}

a:hover {
    color: rgb(185, 250, 50);
    text-decoration: none;
}

section.container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* NAVIGATION */

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    background-color: #000;
}

.navbar-custom .navbar-toggle {
    margin: 5px 15px 5px 0;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand .light {
    font-weight: 400;
    color: rgb(185, 250, 50);
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
    text-shadow: 1px 1px 5px #5e5e5e;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    color: rgb(185, 250, 50);
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(80, 80, 80, .3);
        background: #000;
    }
}

/* HEADER */

.intro {
    display: table;
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/header.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    height: 100px;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    text-shadow: 1px 1px 5px #5e5e5e;
}

@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100% !important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/* WASPROGRAMMAS */

#wasprogrammas {
    background-color: #000;
    color: #fff;
}

#wasprogrammas h3,
#wasprogrammas .fa-stack .fa {
    color: rgb(185, 250, 50);
}

#wasprogrammas p {
    text-transform: lowercase;
}

#wasprogrammas p.prijs {
    font-size: 24px;
}

#wasprogrammas .fa-stack .number {
    color: #000;
}

/* CLUBKAART */

#clubkaart {
    background-color: #f1f1f1;
    color: #000;
}

#clubkaart .atvImg,
#clubkaart .atvImg img {
    width: 260px;
    height: 156px;
}

/* INFO */

#info {
    background-color: #000;
    color: #fff;
}

#info .col-sm-4 {
    padding: 15px;
}

#info .fa {
    color: rgb(185,250,50);
}

#info table {
    width: 200px;
    margin: 0 auto 20px;
}

#info table.table-hover tr:hover {
    background-color: #121212;
}

#info table td {
    border: none;
}