/*rgb(214, 222, 39);*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #fff;
    background-color: #111;
    font-family: Montserrat, sans-serif;
}

a {
    color: #fff;
    transition: .5s;
}

a:hover {
    color: rgb(214, 222, 39);
    text-decoration: none;
    transition: .5s;
}

p {
    margin: 1.5rem auto;
}

.lead {
    font-size: 1.8rem;
}


/* HEADER */

header:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, #111 100%);
    height: 75px;
}

header {
    display: table;
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/header-neerpelt.jpg) no-repeat scroll;
    background-color: #111;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-transform: uppercase;
}

header .container {
    display: table-cell;
    vertical-align: middle;
}

header h1 {
    font-weight: bold;
    text-shadow: 1px 1px 5px #5e5e5e;
}

header .btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100% !important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

header .btn-circle:hover,
header .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

header .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@media (min-width: 768px) {
    header {
        height: 100%;
        padding: 0;
    }

    header h1 {
        font-size: 6rem;
    }
}


/* NAVBAR */

.navbar-custom {
    padding: .5rem 0rem;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    margin-bottom: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #5e5e5e;
    background: #111;
}

.navbar-custom.top-nav-collapse {
    background-color: #111;
    border-bottom: 1px solid rgb(30,30,30);
}

.navbar-custom button, .navbar-custom a {
    color: #fff;
}

.navbar-custom .light {
    color: rgb(214, 222, 39);
}

.navbar-custom .nav li a.active {
    color: rgb(214, 222, 39);
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.navbar-custom .nav li a.active:hover {
    color: #fff;
}

.navbar-custom .fa-facebook-official {
    line-height: 1.5;
}

.navbar-custom .navbar-nav .nav-link {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

@media (min-width: 768px) {
    .navbar-custom {
        background: 0;
        padding: 1.5rem 0;
    }

    .navbar-custom.top-nav-collapse {
        padding: .5rem 0;
    }
}


/* SECTIONS */

section .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

section h2 {
    margin: 0 auto 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.75rem;
}

/* WASPROGRAMMAS */

section#wasprogrammas h2::after {
    content: "Voor ieder wat wils";
    display:block;
    color: #ebebeb;
    font-size: 0.8rem;
    font-weight:normal;
    margin-top: 2rem;
}

section#wasprogrammas h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(214, 222, 39);
    margin-top: 1rem;
}

section#wasprogrammas h3 .number {
    color: #111;
}

/* CLUBPAS */

section#clubpas {
    background-color: #fff;
    color: #111;
}

section#clubpas h2::after {
    content: "Voordelig, gemakkelijk en altijd clean";
    display:block;
    color: #333333;
    font-size: 0.8rem;
    font-weight:normal;
    margin-top: 2rem;
}

section#clubpas .atvImg {
    margin: 1.5rem auto;
}

section#clubpas .atvImg,
section#clubpas .atvImg img {
    width: 260px;
    height: 156px;
}

/* INFO */

section#info h2::after {
    content: "Kies je vestiging";
    display:block;
    color: #ebebeb;
    font-size: 0.8rem;
    font-weight:normal;
    margin-top: 2rem;
}

section#info .container {
    padding-bottom: 0;
}

section#info .col-sm-4,
section#info .col-sm-6 {
    padding: 1rem;
}

section#info .fa {
    color: rgb(214, 222, 39);
}

section#info table {
    width: 200px;
    margin: 0 auto 20px;
}

section#info table.table-hover tr:hover {
    background-color: #121212;
}

section#info table td {
    border: none;
}

section#info .nav-link {
    color: #4a4a4a;
    padding-bottom: 2rem;
}

section#info .nav-link.active {
    color: #fff;
}

section#info .nav-link:hover {
    color: rgb(214, 222, 39);
}

/* FOOTER */

footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    font-family: Satisfy, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    font-size: 2rem;
}

footer a {
    color: #434343;
    transition: .5s;
}

footer a:hover {
    color: #fff;
    transition: .5s;
}


/* ANIMATION */

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}