html, body {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h1 {
    margin: 20px auto;
}

h2 {
    margin: 0 auto;
}

h3 small {
    margin-top: 6px;
}

.border {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 4px;
    background: white;
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

.well,
.well img {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.well .fa {
    font-size: 20px;
}

.well p {
    margin: 10px 0 0;
    font-weight: bold;
    font-size: 20px;
}

.fa-plus-square-o {
    margin: 12px;
}

.cooper .cooper.well,
.cooper_s .cooper_s.well,
.manual .manual.well,
.auto .auto.well {
    border-color: gray;
}

.cooper .cooper_s,
.cooper_s .cooper,
.manual .auto,
.auto .manual {
    color: #cccccc;
}

.cooper .cooper_s:hover {
    color: #b90b11;
}

.cooper_s .cooper:hover {
    color: #e98b29
}

.manual .auto:hover,
.auto .manual:hover {
    color: #737373
}

.cooper .cooper_s img,
.cooper_s .cooper img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.cooper .cooper_s img:hover,
.cooper_s .cooper img:hover {
    -webkit-filter: none;
    filter: none;
}